
.icon4{
	color: snow;
	position: absolute;
}
.icon5{
	color:  snow;
	position: absolute;

}
.icon6{
	color:  snow;
}

.speech-bubble2 {
	position: relative;
	background: #1b1e1f;
	border-radius: .3em;
    border: 2px solid transparent;
	height: 40px;
	width: 255px;
}

.speech-bubble2:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 24%;
	width: 20px;
	height: 25px;
	border: 18px solid transparent;
	border-top-color: #1b1e1f;
	border-bottom: 0;
	margin-left: -20px;
	margin-bottom: -20px;
}